$dark-blue: #273246;
$nav-font-color: rgba(255, 255, 255, 0.9);
$nav-font-hover-color: rgba(255, 255, 255, 1);
$white: #ffffff;
$black: #000;
$bg-color: #f5f5f5;
$font-color: #333;
$bootstrap-color: #337ab7;
$btn-signin-color: #ec407a;
$error-message-font:  #ff5722;
$login-icon-color: #90a4ae;
$input-box-color: #ccc;
//Material design
$text-field: #ddd;
$material-green: #00897b;
$table-header-color: #e7e7e7;
$pagination-color: #2196f3;
$pagination-bg-color: #D1D1D1;

// Devise flash messages
$devise-notice-background: #dff0d8;
$devise-notice-border: #d6e9c6;
$devise-notice-font: #3c763d;

$devise-alert-background: #f2dede;
$devise-alert-border: #ebccd1;
$devise-alert-font: #a94442;
